<div class="message d-none" data-sender-id="<%= user_id %>">
  <p class="text-left content-conversation-window"><%= message.content %></p>
	<p class="text-right date-conversation-window"><%= message.created_at.strftime('%b-%d %H:%M:%S') %></p>
</div>

