.grid-dashboard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 100px;
}

.card-dashboard {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 10px;
}

.missions-section {
  grid-column: 2/span 3;
  grid-row: 1 / span 2;
  height: 100%;
   & h2 {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    color: $ocean-blue;
  }

}

.presentation-section {
  grid-column: 1;
  grid-row: 1;
  min-height: 175px;
  background-color: $ocean-blue;
    & h2 {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    color: $cloud;
  }
    & p {
    font-size: 14px;
    padding-left: 11px;
    margin-bottom: 8px;
    color: $cloud;
  }
}

.habits-section {
  grid-column: 2 / span 3;
  grid-row: 3 / span 4;
  height: 365px;
  & h2 {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    color: $ocean-blue
  }
}

.documents-section {
  grid-column: 1;
  grid-row: 3;
   & h2 {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    color: $ocean-blue
  }  min-height: 175px;

    & p {
    font-size: 14px;
    padding-left: 11px;
    margin-bottom: 8px;
    }
}

.chat-section {
  grid-column: 1;
  grid-row: 4;
  min-height: 175px;

   & h2 {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    color: $ocean-blue
  }
    & p {
    font-size: 14px;
    padding-left: 11px;
    margin-bottom: 8px;
  }
}

.calendar-section {
  grid-column: 1;
  grid-row: 2;
  min-height: 175px;
  & h2 {
    font-size: 24px;
    padding-left: 10px;
    padding-top: 10px;
    color: $ocean-blue
  }
    & p {
    font-size: 14px;
    padding-left: 11px;
    margin-bottom: 8px;
  }
}

.tag-progress {
  border-radius: 10px;
  color: white;
  background-color: $sun-yellow;
  font-size: 9px;
  height: 20px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  width: 75px;
  &:hover {
    text-decoration: none !important;
  }
}

.tag-understood {
  border-radius: 10px;
  color: white;
  background-color: $ocean-blue;
  font-size: 9px;
  height: 20px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  width: 75px;
  &:hover {
    text-decoration: none !important;
  }
}

.tag-alert {
  border-radius: 10px;
  color: white;
  background-color: $fire;
  font-size: 9px;
  height: 20px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  width: 75px;
  &:hover {
    text-decoration-color: none !important;
  }
}

.button-dashboard {
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  transition: background 0.3s ease;
  opacity: 1;
  &:hover{
    color: white;
    opacity: 0.8;
    text-decoration: none;
    cursor: pointer;

  }
}

