// Specific CSS for your home-page

.home-navbar{
  position:sticky;
  top:30px;
  height:56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: top;
  z-index: 1;

}
header{
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  top: -120px;
  height: 100vh;
  background-color: $sun-yellow;
  // background-image: linear-gradient(rgba($charcoal,.1),rgba($charcoal,.1)),url(https://res.cloudinary.com/devnkcikq/image/upload/v1606816656/image_banner_p6pcms.png);
  text-align:center;
  h1{
    font-weight: bolder;
    font-size: 72px;
    margin-bottom: 50px;
  }
}

.highlight-text{
  text-shadow: 5px 5px 2px $ocean-blue;
}

.presentation{
  margin:20px 0;
  padding:20px 0;
  background-color: $ocean-blue;
}

section{
  padding: 60px;
}

#section-arguments{
  .content-arguments{
    display:grid;
    grid-template-columns:1fr 1fr;
  }
  background-color: $fire;
}

#contrasted-arguments{
  background-color: $charcoal;
  color: white;
  h2{
    padding: 50px 0;
    text-align: center;
    font-weight:bolder;
  }
}
.minimal-card-grid{
  display:grid;
  grid-template-columns:1fr 8fr;
}

#list-arguments-homepage{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#biggest-true-argument{
  text-align: center;
  h2{
    margin: 50px;
    span{
      color:$fire;
    }
    i{
      font-size: 12px;
    }
  }
}

#arrow-homepage{
  position:absolute;
  bottom: -50px;
  height:100px;
  width:100px;
  margin: 0 46.5%;
  text-align: center;
  padding:20px;
  background-color: $cloud;
  border-radius: 50%
}

.title-homepage{
  position:absolute;
  top:40px;
  left: 40px;
  font-size: 32px;
  color: $fire;
  font-family: 'Cutive', serif;
  i{
    font-size: 12px;
  }
}

.rounded-corners{
  border-radius: 30% 10px;
}

