// Specific CSS for your home-page

header{
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  top: -60px;
  height: 550px;
  background-image: url(https://res.cloudinary.com/devnkcikq/image/upload/v1606816656/image_banner_p6pcms.png);
  text-align:center;
  h1{
    font-weight: bolder;
  }
}


.presentation{
  margin:20px 0;
  padding:20px 0;
  background-color: $ocean-blue;
}

section{
  padding: 60px;
}

#section-arguments{
  .content-arguments{
    display:grid;
    grid-template-columns:1fr 1fr;
  }
  background-color: $fire;
}

#contrasted-arguments{
  background-color: $charcoal;
  color: white;
  h2{
    padding: 50px 0;
    text-align: center;
    font-weight:bolder;
  }
}
.minimal-card-grid{
  display:grid;
  grid-template-columns:1fr 8fr;
}

#list-arguments-homepage{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#biggest-true-argument{
  text-align: center;
  h2{
    margin: 50px;
  }
}




