// Specific CSS for your home-page

header{
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  top: -60px;
  height: 550px;
  background-image: url(https://res.cloudinary.com/devnkcikq/image/upload/v1606816656/image_banner_p6pcms.png);
  text-align:center;
  h1{
    font-weight: bolder;
  }
}


.presentation{
  margin:20px 0;
  padding:20px 0;
  background-color: $ocean-blue;
}

.presentation-cards{
  display:flex;
}

