.layout-library{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.form-box{
  width:250px;
  margin-top: 50px;
}

.no-margin-library {
  margin-top: 30px;
}

.margin-library {
  margin-top: 100px !important;
}

.container-pdf {
  display:flex;
  justify-content:center;
  img{
    box-shadow: 0 0 20px 15px rgba(0,0,0,0.2);
  }
}

#submit-button{
  border:none;
}
