.photo {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  object-fit:cover;
}
.card-team-infos {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}


.card-infos-text {
  width: 400px;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.card-infos-user {
  margin-top: 10px;
  width: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.display-photo {
  display: flex;
  flex-direction: row;
  align-items:center;
  strong {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    color: $fire;
  }
}

.text-show {
  font-size: 14px;
}

.display-card {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-gap: 10px;
  justify-content: center;
}

.margin-top {
  margin-top: 100px;
}
