
<p class='icon-calendar'>
  <i class="far fa-calendar mr-2"></i>
  <%= link_to notification.to_notification.message, notification.to_notification.url, method: :patch, class: 'icon-calendar'  %>
</p>
