<div class="container">
  <h1 style='margin-top: 100px;'> <%= @library.label %> </h1>
  <div class='container-pdf'>
      <%= cl_image_tag @library.file.key, format: :png, width: 840, height: 1200 %>
  </div>
</div>
