
<header>
  <h1>The Welcomer</h1>
  <p>Onboard with success</p>
  <p>ADD CTA BUTTON HERE</p>
</header>

<div class="container">
  <h2>What we do</h2>
  <h2>Why we do it well</h2>
  <h2>Why trust us </h2>
</div>
  <div class="presentation">
    <div class="container">
      <h2>Revolutionnary onboarding experience</h2>
      <div class="presentation-cards">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, culpa a ex dolore laborum accusantium, temporibus natus. Totam facere voluptatum asperiores vero deleniti, ratione voluptatem temporibus quo dolorem, dolores, eaque.</p>
      </div>
    </div>
  </div>
<div class="container">
<a class="button" href="#">Book now</a>

<a class="button-navbar" href="#">Book now</a>
<br>
<br>
<br>

<div class="card-homepage">
    <div class="image">
      <img src="https://res.cloudinary.com/dsaxkp6xo/image/upload/v1606472186/unnamed_cqk0jd.jpg" class="avatar-bordered defaut" />
    </div>
    <div class="text">
      <h2><strong>Nom prenom</strong></h2>
      <p>Email</p>
      <p>poste</p>
    </div>
</div>
</div>
<footer>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
</footer>

