<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<a class="button" href="#">Book now</a>

<a class="button-navbar" href="#">Book now</a>
<br>
<br>
<br>

<div class="card-homepage">
    <div class="image">
      <img src="https://res.cloudinary.com/dsaxkp6xo/image/upload/v1606472186/unnamed_cqk0jd.jpg" class="avatar-bordered defaut" />
    </div>
    <div class="text">
      <h2><strong>Nom prenom</strong></h2>
      <p>Email</p>
      <p>poste</p>
    </div>
</div>
