<header>
  <h1>THE WELCOMER</h1>
  <p>Onboard with success</p>
  <p>ADD CTA BUTTON HERE</p>
</header>

<div class="container">
  <h2>What we do</h2>
  <h2>Why we do it well</h2>
  <h2>Why trust us </h2>
</div>
  <div class="presentation">
    <div class="container">
      <h2>Revolutionnary onboarding experience</h2>
      <div class="presentation-cards">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, culpa a ex dolore laborum accusantium, temporibus natus. Totam facere voluptatum asperiores vero deleniti, ratione voluptatem temporibus quo dolorem, dolores, eaque.</p>
      </div>
    </div>
  </div>
<div class="container">
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, error! Commodi quos quibusdam fuga inventore dolorum odio! Consequatur ut accusantium tenetur quod ea explicabo excepturi, deleniti, praesentium pariatur! Libero, ducimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, provident itaque tempora saepe officia officiis magni corporis asperiores beatae delectus cum explicabo, voluptate ab quibusdam amet aliquam at repellendus quod. Lorem, ipsum dolor sit amet consectetur adipisicing, elit. Voluptates aperiam fuga fugiat tempora consectetur quae voluptatum numquam esse inventore in voluptatem maiores, velit debitis quam quo. Magni, iste odio quos?</p>

</div>
<footer>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
</footer>

