
<header>
  <h1>Onboarding <br>has never been <br><span class="highlight-text">so easy</span></h1>
  <%= link_to "Discover", root_path(anchor: "list-arguments-homepage"), class: "button color-blue"  %>
</header>
<span class="title-homepage">The Welcomer <i class="fas fa-circle"></i></span>
<span id="arrow-homepage"><i class="fas fa-arrow-down bounce"></i> </span>

  <section id = "definition" class="container">
    <h2 > <span class="highlight-shadow" >Onboarding</span>  </h2>
    <p>This phase is considered the second  <strong>most important</strong> part of Human Resources. </br>
    Just after the recruitment. The <strong>first impression</strong> of an employee in his new company is crutial. </br>
    Whether it is a success or not will define his will to stay in this company.</p>
  </section>
  <section id= "section-arguments" >
    <div class = "content-arguments container">
      <div>
        <h2>People & hapiness</h2>
        <h3>We believe in people</h3>
        <h3>We believe in efficiency</h3>
        <p>There is no better way to be integrate your new employees in your company than when you are most welcome. But being efficient and welcoming at the same time can be complicated. With the welcomer, we provide tou with top-quality onboarding solutions. </p>
        <a class="button color-yellow" href="#">Call us</a>

      </div>
      <div>
        <img class="rounded-corners" src="https://images.prismic.io/malt/e0b456fa-381c-40ce-8e12-faa66d3d6908_2007_Malt_02500.jpg?auto=compress,format&rect=179,0,2000,2000&w=380&h=380" alt="photo equipe">
      </div>
    </div>
  </section>

  <section id="contrasted-arguments">
    <h2>Our services adapt to any type of business, </br> whatever your needs.</h2>
  </section>

  <section id= "list-arguments-homepage" class="container">
    <div class="minimal-card">
      <img src="https://images.prismic.io/malt/ba4fe606-59e5-4849-a9d1-60419c5c6d35_homepage-illu-recrutment-1.png?auto=compress,format" alt="">
      <div class="minimal-card-grid">
        <strong class="number">1.</strong>
        <p> <strong>Prepare. </strong>After the recruitment, start preparing the arrival of your nem employee. Just follow our steps</p>
      </div>
    </div>
    <div class="minimal-card">
      <img src="https://images.prismic.io/malt/d67a6146-92e7-4b96-870f-2bc5aa52cbfd_homepage-illu-recrutment-2.png?auto=compress,format" alt="">
      <div class="minimal-card-grid">
          <strong class="number">2.</strong>
          <p> <strong>Walk along. </strong>When your newcomer has arrived, help him with his onboarding "sur mesure"</p>
        </div>
      </div>
    <div class="minimal-card">
      <img src="https://images.prismic.io/malt/6b2f9a67-195d-407e-9517-c38d720c2220_homepage-illu-recrutment-3.png?auto=compress,format" alt="">
      <div class="minimal-card-grid">
        <strong class="number">3.</strong>
        <p> <strong>Let them fly. </strong>Our process is so well-made, than whithin a few weeks, they'll be ready to fly alone :')</p>
      </div>
    </div>
  </section>

  <section id="biggest-true-argument">
    <h2>More than 3.000 companies won over by  <span>The Welcomer <i class="fas fa-circle"></i></span></h2>
    <div class = "companies-conquered">
      <img src = "https://res.cloudinary.com/dsaxkp6xo/image/upload/v1612440078/fake_7_owiojh.png">
      <img src = "https://res.cloudinary.com/dsaxkp6xo/image/upload/v1612440078/fake_13_ersdpj.png">
      <img src = "https://res.cloudinary.com/dsaxkp6xo/image/upload/v1612440078/fake_8_e8t0pq.png">
      <img src = "https://res.cloudinary.com/dsaxkp6xo/image/upload/v1612440078/fake_2_l5qe2m.png">
      <img src = "https://res.cloudinary.com/dsaxkp6xo/image/upload/v1612440078/fake_3_rdfgn4.png">
      <img src = "https://res.cloudinary.com/dsaxkp6xo/image/upload/v1612440078/fake_12_aaozro.png">
      <img src = "https://res.cloudinary.com/dsaxkp6xo/image/upload/v1612440078/fake_9_ybifbb.png">
    </div> 
    <a href="#" id = 'bottom-button-homepage'class="button color-blue">Your turn now !</a>
  </section>

<footer>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
</footer>

