
<header>
  <h1>The Welcomer</h1>
  <p>Onboard with success</p>
  <a href="#" class="button color-blue">Discover</a>
</header>

  <section class="container">
    <p>The onboarding phase is considered the second most important part of Human Resources. Just after the recruitment. The first impression of an employee in his new company is crutial. Whether it is a success or not will define his will to stay in this company.</p>
  </section>
  <section id= "section-arguments" >
    <div class = "content-arguments container">
      <div>
        <h2>People & hapiness</h2>
        <p>We believe in people</p>
        <p>We believe in efficiency</p>
        <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Architecto, aspernatur. Accusantium voluptatum ratione aperiam cumque rem aut quia illum eius iure, odio! Totam labore nostrum dolorem ipsa adipisci, perferendis est!</p>
        <a class="button color-yellow" href="#">Call us</a>

      </div>
      <div>
        <img class="rounded-corners" src="https://images.prismic.io/malt/e0b456fa-381c-40ce-8e12-faa66d3d6908_2007_Malt_02500.jpg?auto=compress,format&rect=179,0,2000,2000&w=380&h=380" alt="photo equipe">
      </div>
    </div>
  </section>

  <section id="contrasted-arguments">
    <h2>Our services adapt to any type of business, </br> whatever your needs</h2>
  </section>

  <section id= "list-arguments-homepage" class="container">
    <div class="minimal-card">
      <img src="https://images.prismic.io/malt/ba4fe606-59e5-4849-a9d1-60419c5c6d35_homepage-illu-recrutment-1.png?auto=compress,format" alt="">
      <div class="minimal-card-grid">
        <strong class="number">1.</strong>
        <p> <strong>Prepare. </strong>After the recruitment, start preparing the arrival of your nem employee. Just follow our steps</p>
      </div>
    </div>
    <div class="minimal-card">
      <img src="https://images.prismic.io/malt/d67a6146-92e7-4b96-870f-2bc5aa52cbfd_homepage-illu-recrutment-2.png?auto=compress,format" alt="">
      <div class="minimal-card-grid">
          <strong class="number">2.</strong>
          <p> <strong>Walk along. </strong>When your newcomer has arrived, help him with his onboarding "sur mesure"</p>
        </div>
      </div>
    <div class="minimal-card">
      <img src="https://images.prismic.io/malt/6b2f9a67-195d-407e-9517-c38d720c2220_homepage-illu-recrutment-3.png?auto=compress,format" alt="">
      <div class="minimal-card-grid">
        <strong class="number">3.</strong>
        <p> <strong>Let them fly. </strong>Our process is so well-made, than whithin a few weeks, they'll be ready to fly alone :')</p>
      </div>
    </div>
  </section>

  <section id="biggest-true-argument">
    <h2>More than 30.000 companies won over by The Welcomer</h2>
    <a href="#" class="button color-blue">Your turn now !</a>
  </section>


<footer>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
</footer>

