.button {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  transition: background 0.3s ease;
  opacity: 1;

  &:hover{
    color: white;
    opacity: 0.8;
    text-decoration: none;

  }
}

.color-blue{
  background: $ocean-blue;
}

.color-yellow{
  background: $sun-yellow;
}

.color-fire{
  background:$fire;
}


.button-navbar {
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  background: $sun-yellow;
  transition: background 0.3s ease;
  opacity: 1;
  font-size: 16px;

.button-navbar:hover {
  background: $sun-yellow;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}


