.button {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #F5B858;
  transition: background 0.3s ease;
  opacity: 1;
}

.button:hover {
  background: #F5B858;
  color: white;
  opacity: 0.8;
}

.button-navbar {
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  background: #F5B858;
  transition: background 0.3s ease;
  opacity: 0.8;
  font-size: 16px;
}

.button-navbar:hover {
  background: #F5B858;
  color: white;
  text-decoration: none;
  opacity: 1;
}




