.card-homepage {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 280px;
  height: 150px;
  padding:10px;
  border-radius: 10px;
  display: flex;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease-out;
  margin:10px auto;

  &:hover{
    color: black;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
}

.card-homepage h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-homepage p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-homepage .image {
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-homepage>.text {
  width:70%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.defaut {
  background-size: cover;
  width: 60px;
  height: 60px;
}

// form design for the devise views
.form{
  width: 50%;
  background-color: white;
  border-radius: 5px;
  border: 0.5px #F1F2F4 solid;
  padding: 50px;
  margin:70px auto;
}

// card container pour l'overview
.card-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

// card for a white background on a page
.white-card {
  background-color: white;
  border-radius: 10px;
  border: 0.5px #F1F2F4 solid;
  margin-top: 70px;
  position: relative;
}

.card-library{
  display: flex;
  flex-direction: column;
  align-items:center;
  border-radius: 10px;
  width:150px;
  height:180px;
  padding:15px;
  margin:20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.5s ease-out;
  img{
    margin-bottom: 10px;
  }
  h5{
    text-align: center;
  }
  &:hover{
    color: black;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
}

// pour la carte des arguments en liste de la page d'accueil
.minimal-card{
  display: flex;
  flex-direction:column;
  align-items:center;
  width:250px;
  img{
    height:200px;
    margin-bottom: 40px;
  }
  .number{
    color:$fire;
    font-size: 24px;
  }
}

.meeting-show-card {
  background-color: white;
  width: 70%;
  border-radius: 10px;
  border: 0.5px #F1F2F4 solid;
  padding: 30px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
}

.fa-user-times {
  color: $fire;
}

.title-card {
  margin-bottom: 0px;
}

.underlined {
  text-decoration: underline;
}

.card-meeting-index {
  padding: 10px;
}

.color-title {
  color: $sun-yellow;
}

.container-personal-library{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}

.card-personal-library{
  display: flex;
  flex-direction: column;
  align-items:center;
  border-radius: 10px;
  width:150px;
  height:180px;
  padding:15px;
  margin:20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.5s ease-out;
  img{
    margin-bottom: 10px;
  }
  h5{
    text-align: center;
  }
  &:hover{
    color: black;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
}


.margin-calendar-card {
  margin-top: -21px;
}


