.card-homepage {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 250px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  color: black;
  text-decoration: none;
  transition: all 0.5s ease-out;
  &:hover{
    color: black;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
}

.card-homepage h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-homepage p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-homepage .image {
  width:40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-homepage>.text {
  width:70%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.defaut {
  background-size: cover;
  width: 60px;
  height: 60px;
}

// form design for the devise views
.form{
  width: 50%;
  background-color: white;
  border-radius: 5px;
  border: 0.5px #F1F2F4 solid;
  padding: 50px;
  margin:70px auto;
}

// card container pour l'overview
.card-container {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

// card for a white background on a page
.white-card {
  background-color: white;
  border-radius: 10px;
  border: 0.5px #F1F2F4 solid;
  margin-top: 70px;
  position: relative;
  .button {
    width:200px;
    text-align:center;
    position:absolute;
    bottom:-60px;
    right:0px;
  }
}

.card-library{
  display: flex;
  flex-direction: column;
  align-items:center;
  border-radius: 10px;
  width:150px;
  height:180px;
  padding:15px;
  margin:20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.5s ease-out;
  img{
    margin-bottom: 10px;
  }
  h5{
    text-align: center;
  }
  &:hover{
    color: black;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
}

