footer{
  margin-top: 50px;
  display: flex;
  justify-content:center;
  background-image: url(https://res.cloudinary.com/dsaxkp6xo/image/upload/v1607358096/Group_1_rlxypy.png);
  background-size:cover;
  background-position: center;
  height:70vh;
  align-items:flex-end;
  a{
    color:$cloud;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
    padding-bottom: 100px;
    &:hover{
      color: $ocean-blue;
    }
  }
}

.text-color-fire{
  color:$fire;
}

.footer-setting {
  background-color: rgba(180,180,180,0.5);
  height: 100px;
  padding: 0px 50px;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items: center;
  a{
    transition: all 0.5s ease-out;
    opacity:0.3;
    color: rgb(0,0,0);
    &:hover {
      opacity:0.7;
    }
  }
  i{
    font-size:5px;
  }
}


.footer-fix {
  min-height: calc(100vh - 163px);
}
