.form{
  width: 50%;
  background-color: white;
  border-radius: 5px;
  border: 0.5px #F1F2F4 solid;
  padding: 50px;
  margin:70px auto;
}

.btn-separator{
  margin:20px 0;
  border-bottom: 1px solid #606060;
  color:#606060;
  line-height: .1em;
  text-align: center;
  span{
    padding:15px;
    background-color: white;
  }
}
