.navbar-welcomer {
  justify-content: space-between;
  align-items: center;
  background: white;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

.navbar-welcomer .navbar-collapse {
  flex-grow: 0;
}

.navbar-welcomer .navbar-brand img {
  width: 40px;
}

.navbar-tabs {
  color: $charcoal;
  text-decoration: none;
  font-size: 18px;
  margin-right: 25px;
  margin-left: 25px;
  padding-top: 20px;
  font-family: $rubik;
  text-transform: uppercase;
  font-weight: 300;
  &:hover {
    text-decoration: none;
    color: $charcoal;
  }
  &:active {
    text-decoration: none;
    color: $charcoal;
  }
}

.active{
    border-top: 5px solid $fire;
    border-left: 5px white solid;
    border-right: 5px white solid;
  }

.no-margin-last {
}

.navbar-icon {
  color: $sun-yellow;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: $sun-yellow;
    opacity: 0.8;
  }
}

// Notifications

.bell-class {
  color: $sun-yellow;
  position: relative;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.red-circle {
  height: 13px;
  width: 13px;
  background-color: $fire;
  font-size: 8px;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 65px;
  text-align: center;
  padding-top: 1px;
  &:hover {
    cursor: pointer;
  }
}

.icon-calendar {
  color: $sun-yellow;
  &:hover {
    color: $sun-yellow;
    opacity: 0.8;
    cursor: pointer;
  }
}

#notifications-dropdown {
  position: absolute;
  top: 58px;
  right: 60px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  background-color: white;
  border-radius: 2px;
  border: 1px solid rgb(220,220,220);
}

