.simple-calendar {
  .day {
      font-size: 14px;
      color: $charcoal;
      border: 0.3px solid rgba(220,220,220,0.3);
      border-bottom: none;
  }


  .table {
    border: none;
  }

.wday-0 {
  border-right: none;
}

.wday-1 {
  border-left: none;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

//   .wday-2 {}
//   .wday-3 {}
//   .wday-4 {}
//   .wday-5 {}
//   .wday-6 {}

//   .past {}
//   .future {}

  // .start-date {}

  #Monday {
    border-top-left-radius: 10px;
  }

  #Sunday {
    border-top-right-radius: 10px;
  }

  th {
    border: none;
  }

  .prev-month {
    background-color: rgba(220,220,220,0.3);
    color: white;
  }
  .next-month {
    background-color:rgba(220,220,220,0.3);
    color: white;
  }
  .current-month {
    background-color: white;
  }
  .today {
    background-color: $fire;
    opacity: 0.4;
    color: white;
  }

//   .has-events {}
}

.days {
  background-color: $fire;
  color: white;
  font-weight: lighter;
  border: none;
}

.day {
  position: relative;
}

.button-meeting {
  color: $sun-yellow;
  position: absolute;
  top: -4px;
  right: 10px;
  font-size:30px;
  opacity:0.6;
  font-weight: bolder;
    &:hover {
      color: $sun-yellow;
      opacity:1
    }
}

.link-into-calendar {
  text-decoration: none;
  color: $orange-soda;
  &:hover {
    text-decoration-style: none;
    color: $orange-soda;
    text-decoration: underline;
  }
}

.link-into-calendar-today {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration-style: none;
    color: white;
    text-decoration: underline;
  }
}

.link-into-today-calendar {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration-style: none;
    color: black;
    text-decoration: underline;
  }
}

.month-name {
  font-size: 22px;
  font-weight: lighter;
}
