.simple-calendar {
  .day {
      font-size: 14px;
      color: $charcoal;
  }

//   .wday-0 {}
//   .wday-1 {}
//   .wday-2 {}
//   .wday-3 {}
//   .wday-4 {}
//   .wday-5 {}
//   .wday-6 {}

//   .past {}
//   .future {}

  // .start-date {}

  .prev-month {
    background-color: $charcoal;
    color: white;
  }
  .next-month { 
    background-color:$charcoal;
    color: white;
  }
  .current-month {
    background-color: white;
  }
  .today {
    background-color: $orange-soda;
    color: white;
  }

//   .has-events {}
}

.days {
  background-color: $sun-yellow;
  color: white;
  font-weight: lighter;
  
}

.link-into-calendar {
  text-decoration: none;
  color: $orange-soda;
  &:hover {
    text-decoration-style: none;
    color: $orange-soda;
    text-decoration: underline;
  }
}

.link-into-calendar-today {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration-style: none;
    color: white;
    text-decoration: underline;
  }
}

.link-into-today-calendar {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration-style: none;
    color: black;
    text-decoration: underline;
  }
}

.month-name {
  font-size: 22px;
}