// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Rubik&display=swap');
@import "simple_calendar";
@import "flatpickr/dist/flatpickr";
// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  font-family: 'Rubik', sans-serif;
  margin:60px 0 0 0; // La margin-top est pour compenser la navbar
  background-color: $cloud;
  h1, h2{
  font-family: 'Cutive', serif;
  }
  h1{
    text-align: center;
  }
}

a:hover {
  text-decoration:none;
}
