<div class="container">
  <% if current_user.role == 'manager' %>
    <div class="form">
      <h2>Add a mission </h2>
      <%= simple_form_for [@company, @user, @mission], remote: true do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.button :submit, class: 'button color-yellow' %>
      <% end %>
    </div>
  <% end %>
</div>
