<div class="container footer-fix">
  <% if current_user.role == 'Manager' %>
    <div class="form">
      <h2>Add a good practice to help <%= @user.first_name %></h2>
      <%= simple_form_for [@company, @user, @habit], remote: true do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'button color-yellow' %>
      <% end %>
    </div>
  <% end %>
</div>
